<div class="rounded-xl w-full py-2 px-3 flex gap-5 shadow-custom">
    <div class="flex flex-col justify-start items-start gap-3">
        {% if answer.author.profile.avatar %}
            <img class="w-20 h-20 rounded-full" src="{{ MEDIA_URL }}{{ answer.author.profile.avatar.url }}" />
        {% else %}
            <div class="w-20 h-20 rounded-full bg-primary text-selected flex items-center justify-center">
                {{ answer.author }}
            </div>
        {% endif %}
        
        <form id="answer-rating-{{ answer.id }}">
            <div class="w-20 flex justify-between items-center gap-2.5">
                <input
                    class="text-sm w-10 outline-none border hover:outline hover:border-secondary focus:outline-none focus:border-secondary p-2 rounded-lg transition-custom text-center cursor-pointer"
                    type="text" value="{{ answer.likes_count }}" disabled>
                <div class="flex gap-2.5 justify-end">
                    <!-- Like Button -->
                    {% if answer.is_liked %}
                        <button data-answer-id="{{ answer.id }}" data-action="like"
                            class="like-answer-btn flex items-center space-x-2 text-primary hover:text-primary transition-custom">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    {% else %}
                        <button data-answer-id="{{ answer.id }}" data-action="like"
                            class="like-answer-btn flex items-center space-x-2 text-secondary hover:text-primary transition-custom">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    {% endif %}

                    <!-- Dislike Button -->
                    {% if answer.is_disliked %}
                        <button data-answer-id="{{ answer.id }}" data-action="dislike"
                            class="dislike-answer-btn flex items-center space-x-2 }text-primary hover:text-primary transition-custom">
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    {% else %}
                        <button data-answer-id="{{ answer.id }}" data-action="dislike"
                            class="dislike-answer-btn flex items-center space-x-2 text-secondary hover:text-primary transition-custom">
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    {% endif %}
                    
                </div>
            </div>
        </form>
    </div>
    <div class="w-full flex flex-col justify-between items-start gap-2.5">
        <p class="text-sm">{{ answer.text }}</p>
        {% if question.author == request.user %}
            <div id='mark-correct-btn' class="w-full flex justify-end items-center space-x-1.5">
                <!-- Чекбокс с уникальным id для каждого ответа -->
                <input type="checkbox" {% if answer.is_correct %}checked{% endif %} id="correct-answer-{{ answer.id }}"
                    data-question-id="{{ question.id }}" data-answer-id="{{ answer.id }}"
                    class="mark-correct-btn appearance-none cursor-pointer border border-gray-300 w-5 h-5 rounded transition-custom checked:bg-primary checked:relative checked:after:content-['\2713'] 
                    checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center checked:after:w-[19px] checked:after:h-[19px] checked:after:text-center checked:after:text-xs">
                <label for="correct-answer-{{ answer.id }}"
                    class="text-sm text-primary cursor-pointer transition-custom translate-y-0 hover:-translate-y-1">
                    Correct!
                </label>
            </div>
        {% elif answer.is_correct %}
            <div class="w-full flex justify-end items-center space-x-1.5">
                <label for="correct-answer-{{ answer.id }}"
                    class="text-sm text-primary cursor-pointer transition-custom translate-y-0 hover:-translate-y-1">
                    Correct!
                </label>
            </div>
        {% endif %}

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).on('change', '.mark-correct-btn', function() {
    const answerId = $(this).data('answer-id');
    const questionId = $(this).data('question-id');
    const isCorrect = $(this).prop('checked');

    $.ajax({
        url: '{% url "mark_correct_answer" %}',
        type: 'POST',
        data: {
            answer_id: answerId,
            question_id: questionId,
            is_correct: isCorrect.toString(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success: function(response) {
            if (response.status !== 'success')
                alert('Произошла ошибка!');
        },
        error: function() {
            alert('Ошибка при отправке запроса!');
        }
    });
});

$(document).on('click', '.like-answer-btn, .dislike-answer-btn', function() {
    const answerId = $(this).data('answer-id');
    const action = $(this).data('action');

    $.ajax({
        url: '{% url "like_answer" %}',
        type: 'POST',
        data: {
            answer_id: answerId,
            action: action,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
            if (response.new_rating !== undefined) {
                $('#answer-rating-' + answerId).text(response.new_rating);
            } else {
                alert('Ошибка при обновления счетчитка лайков!');
            }
        },
        error: function(e) {
            alert('Ошибка: ' + e.responseJSON.error);
        }
    });
});

</script>