{% load custom_filters %}
{% load static %}

<div class="rounded-xl w-full py-2 px-3 flex gap-5 shadow-custom">
    <div class="flex flex-col justify-start items-start gap-3">
        {% if answer.author.profile.avatar %}
            <img class="w-20 h-20 rounded-full" src="{{ MEDIA_URL }}{{ answer.author.profile.avatar.url }}" />
        {% else %}
            <div class="w-20 h-20 rounded-full bg-primary text-selected flex items-center justify-center">
                {{ answer.author }}
            </div>
        {% endif %}
        
        <form>
            <div class="w-20 flex justify-between items-center gap-2.5">
                <span id="answer-rating-{{ answer.id }}" 
                    class="text-sm outline-none border hover:outline hover:border-secondary focus:outline-none focus:border-secondary py-2 px-3 rounded-lg transition-custom text-center cursor-pointer">
                    {{ answer.likes_count }}
                </span>
                {% with answer_likes|get_item:answer.id as answer_like %}
                    <div class="flex gap-2.5 justify-end">
                        <!-- Like Button -->
                        <button type="button" data-answer-id="{{ answer.id }}" data-action="like" data-url="{% url 'like_answer' %}" data-csrf="{{ csrf_token }}"
                            class="like-answer-btn flex items-center space-x-2 {% if answer_like.is_liked %}text-primary{% else %}text-secondary{% endif %} hover:text-primary transition-custom">
                            <i class="fas fa-thumbs-up"></i>
                        </button>

                        <!-- Dislike Button -->
                        <button type="button" data-answer-id="{{ answer.id }}" data-action="dislike" data-url="{% url 'like_answer' %}" data-csrf="{{ csrf_token }}"
                            class="dislike-answer-btn flex items-center space-x-2 {% if answer_like.is_disliked %}text-primary{% else %}text-secondary{% endif %} hover:text-primary transition-custom">
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    </div>
                {% endwith %}
            </div>
        </form>
    </div>
    <div class="w-full flex flex-col justify-between items-start gap-2.5">
        <p class="text-sm">{{ answer.text }}</p>
        {% if question.author == request.user %}
            <div id='mark-correct-btn' class="w-full flex justify-end items-center space-x-1.5">
                <!-- Чекбокс с уникальным id для каждого ответа -->
                <input type="checkbox" {% if answer.is_correct %}checked{% endif %} id="correct-answer-{{ answer.id }}"
                    data-question-id="{{ question.id }}" data-answer-id="{{ answer.id }}" data-url="{% url 'mark_correct_answer' %}" data-csrf="{{ csrf_token }}"
                    class="mark-correct-btn appearance-none cursor-pointer border border-gray-300 w-5 h-5 rounded transition-custom checked:bg-primary checked:relative checked:after:content-['\2713'] 
                    checked:after:text-white checked:after:flex checked:after:justify-center checked:after:items-center checked:after:w-[19px] checked:after:h-[19px] checked:after:text-center checked:after:text-xs">
                <label for="correct-answer-{{ answer.id }}"
                    class="text-sm text-primary cursor-pointer transition-custom translate-y-0 hover:-translate-y-1">
                    Correct!
                </label>
            </div>
        {% elif answer.is_correct %}
            <div class="w-full flex justify-end items-center space-x-1.5">
                <label for="correct-answer-{{ answer.id }}"
                    class="text-sm text-primary cursor-pointer transition-custom translate-y-0 hover:-translate-y-1">
                    Correct!
                </label>
            </div>
        {% endif %}

    </div>
</div>