{% load custom_filters %}
{% load static %}

<div class="rounded-xl w-full py-2 px-3 flex gap-3 shadow-custom">
    <div class="flex flex-col justify-start items-start gap-3">
    {% if question.author.profile.avatar %}
      <img class="w-40 h-40 rounded-full" src="{{ MEDIA_URL }}{{ question.author.profile.avatar.url }}" />
    {% else %}
      <div class="w-40 h-40 rounded-full bg-primary text-selected flex items-center justify-center">
        {{ question.author }}
      </div>
    {% endif %}

    <form>
        <div class="w-40 flex justify-start items-center gap-2.5">
          <span id="question-rating-{{ question.id }}" 
              class="text-sm outline-none border hover:outline hover:border-secondary focus:outline-none focus:border-secondary py-2 px-3 rounded-lg transition-custom text-center cursor-pointer">
              {{ question.likes_count }}
          </span>

          {% with question_likes|get_item:question.id as question_like %}
            <div class="flex gap-2.5 justify-end">
              <!-- Like Button -->
              <button type="button" data-question-id="{{ question.id }}" data-action="like" data-url="{% url 'like_question' %}" data-csrf="{{ csrf_token }}"
                  class="like-question-btn flex items-center space-x-2 {% if question_like.is_liked %}text-primary{% else %}text-secondary{% endif %} hover:text-primary transition-custom">
                  <i class="fas fa-thumbs-up"></i>
              </button>

              <!-- Dislike Button -->
              <button type="button" data-question-id="{{ question.id }}" data-action="dislike" data-url="{% url 'like_question' %}" data-csrf="{{ csrf_token }}"
                  class="dislike-question-btn flex items-center space-x-2 {% if question_like.is_disliked %}text-primary{% else %}text-secondary{% endif %} hover:text-primary transition-custom">
                  <i class="fas fa-thumbs-down"></i>
              </button>
            </div>
          {% endwith %}
        </div>
    </form>
    </div>
    <div class="w-full flex flex-col justify-between items-start gap-2.5">
    <div class="flex flex-col gap-2.5">
        <h1 class="text-xl cursor-pointer transition-custom translate-x-0 hover:translate-x-1" onclick="location.href='{% url 'question' question_id=question.id %}'">{{ question.title }}</h1>
        <p class="text-xs">{{ question.text }}</p>
    </div>
    <div class="w-full flex flex-col sm:flex-row justify-between items-left text-center align-middle">
        <a href="{% url 'question' question_id=question.id %}" class="font-medium text-sm cursor-pointer transition-custom translate-y-0 hover:-translate-y-1 text-tag hover:text-primary">answer ({{ question.answers_count }})</a>
        <div class="flex gap-[7px]">
        <p class="font-medium text-sm">Tags:</p>

        <!-- tags list -->
        <div class="flex gap-[3px] overflow-ellipsis">
            {% for tag in question.tags.all %}
              <a href="{% url 'tag' tag=tag.name %}" class="cursor-pointer transition-custom translate-y-0 hover:-translate-y-1 text-tag hover:text-primary text-xs">{{ tag.name }} | </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>