{% extends 'base.html' %}
{% load static %}
{% block title %}
    Ask
{% endblock %}

{% block header_profile %}
  {% include "include/header_profile.html" %}
{% endblock %}

{% block questions_title %}
    <div class="flex items-center justify-start">
        <h1
            class="text-3xl transition-custom translate-x-0 hover:translate-x-1 cursor-pointer">
            New Question
        </h1>
    </div>
{% endblock %}

{% block content %}
    <form class="w-full">
        <div class="w-full flex flex-col gap-3.5 items-start justify-start">
            <div class="w-full flex justify-start items-start gap-5">
                <label for="titlefield"
                    class="mt-1 text-primary transition-custom translate-x-0 hover:translate-x-1 cursor-pointer">
                    Title</label>
                <input id="titlefield"
                    class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
                    type="text" placeholder="Input title...">
            </div>
            <div class="w-full flex justify-start items-start gap-5">
                <label for="textfield"
                    class="mt-1 text-primary transition-custom translate-x-0 hover:translate-x-1 cursor-pointer">
                    Text</label>
                <textarea id="textfield"
                    class="resize-none w-full h-[200px] text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
                    type="text" placeholder="Input text..."></textarea>
            </div>
            <div class="w-full flex justify-start items-start gap-5">
                <label for="tagsfield"
                    class="mt-1 text-primary transition-custom translate-x-0 hover:translate-x-1 cursor-pointer">
                    Tags</label>
                <input id="tagsfield"
                    class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
                    type="text" placeholder="Input tags...">
            </div>

            <!-- error text -->
            <div class="w-full flex justify-start">
                <!-- <p class="text-error text-sm"> </li> -->
                <p class="text-error text-sm">Ошибка при создании вопроса!!</p>
            </div>
            <div class="w-full md:w-[80%] flex items-center justify-start">
                <button
                    class="rounded-md py-2 px-4 transition-custom bg-selected border border-primary hover:bg-primary hover:text-selected"
                    type="submit">Ask</button>
            </div>
        </div>
    </form>
{% endblock %}