{% extends 'base.html' %}
{% load static %}
{% block title %}
  {% if is_hot_questions %}
    AskMeService - Лучшие вопросы
  {% else %}
    AskMeService - Главная
  {% endif %}
{% endblock %}

{% block header_profile %}
  {% include "include/header_profile.html" %}
{% endblock %}

{% block questions_title %}
  <div class="flex items-center justify-start gap-5 max-sm:px-1.5">
    {% if is_hot_questions %}
      <a class="text-xl cursor-pointer text-secondary hover:text-primary transition-custom translate-x-0 hover:translate-x-1" href="/">New Questions</h1>
      <a class="text-3xl transition-custom translate-x-0 hover:translate-x-1 cursor-pointer" href="{% url 'hot' %}">Hot Questions</a>
    {% else %}
      <h1 class="text-3xl transition-custom translate-x-0 hover:translate-x-1 cursor-pointer">New Questions</h1>
      <a class="text-xl cursor-pointer text-secondary hover:text-primary transition-custom translate-x-0 hover:translate-x-1" href="{% url 'hot' %}">Hot Questions</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% for question in questions %}
    {% include "include/question.html" %}
  {% endfor %}
{% endblock %}

{% block paging %}
  <!-- selected page -->
  {% include "include/pagination.html" %}
{% endblock %}