{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ question.title }}
{% endblock %}

{% block header_profile %}
  {% include "include/header_profile.html" %}
{% endblock %}

{% block content %}
    <!-- cards list -->
    <div
        class="w-full h-full overflow-y-scroll scrollbar-none py-4 pl-1.5 pr-3.5 max-md:pr-1.5 flex flex-col gap-2.5">

        <!-- question  -->
        <div class="rounded-xl w-full py-2 px-3 flex gap-3 shadow-custom mb-5">
            <div class="flex flex-col justify-start items-start gap-3">
                <div
                    class="w-40 h-40 rounded-full bg-primary text-selected flex items-center justify-center">
                    AV
                </div>
                <form>
                    <div class="w-40 flex justify-start items-center gap-2.5">

                        <input
                            class="text-sm w-10 outline-none border hover:outline hover:border-secondary focus:outline-none focus:border-secondary p-2 rounded-lg transition-custom text-center cursor-pointer"
                            type="text" value="{{ question.likes }}" disabled>

                        <div class="flex gap-2.5 justify-end">
                            <!-- Like Button -->
                            <button
                                class="flex items-center space-x-2 text-secondary hover:text-primary transition-custom">
                                <i class="fas fa-thumbs-up"></i>
                            </button>

                            <!-- Dislike Button -->
                            <button
                                class="flex items-center space-x-2 text-secondary hover:text-primary transition-custom">
                                <i class="fas fa-thumbs-down"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-full flex flex-col justify-between items-start gap-2.5">
                <div class="flex flex-col gap-2.5">
                    <h1 class="text-xl cursor-pointer transition-custom translate-x-0 hover:translate-x-1">
                        {{ question.title }}</h1>
                    <p class="text-sm">{{ question.text }}</p>
                </div>
                <div class="w-full flex justify-start items-center gap-[7px]">
                    <p class="text-sm font-medium">
                        Tags:</p>

                    <!-- tags list -->
                    <div class="flex gap-[3px] overflow-ellipsis">
                        {% for tag in question.tags %}
                            <a href="{% url 'tag' tag=tag %}"
                                class="text-sm cursor-pointer transition-custom translate-y-0 hover:-translate-y-1 text-tag hover:text-primary">
                                {{ tag }}, </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% for answer in answers %}
            <!-- card-answer -->
            {% include "include/answer.html" %}
        {% endfor %}

        <!-- paging -->
        <div class="my-3 w-full h-20 flex items-center justify-start gap-3 max-sm:px-1.5">
            {% for num in answers.paginator.page_range %}
                {% if answers.number == num %}
                    <div onclick="location.href='?page={{ num }}'" class="rounded-xl px-3 py-2 flex items-center justify-center cursor-pointer shadow-custom border border-primary bg-primary hover:bg-selected hover:text-primary text-selected transition-custom">{{ num }}</div>
                {% else %}
                    <div onclick="location.href='?page={{ num }}'" class="rounded-xl px-3 py-2 flex items-center justify-center cursor-pointer shadow-custom border border-primary bg-selected hover:bg-primary hover:text-selected text-primary transition-custom">{{ num }}</div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- answer -->
        <form class="w-full">
            <div class="w-full h-full flex flex-col items-start justify-start gap-3 max-sm:px-1.5">
                <textarea
                    class="resize-none w-full h-[100px] text-sm outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
                    type="text" placeholder="Enter your answer here.."></textarea>

                <!-- error text -->
                <div class="w-full flex justify-start">
                    <!-- <p class="text-error text-sm"> </p> -->
                    <p class="text-error text-sm">Ошибка при создании ответа!!</p>
                </div>

                <div class="w-full md:w-[80%] flex items-center justify-start">
                    <button
                        class="rounded-md py-2 px-4 transition-custom bg-selected border border-primary hover:bg-primary hover:text-selected"
                        type="submit">Answer</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}