{% extends 'base_form.html' %}
{% load static %}
{% block title %}
    Settings
{% endblock %}

{% block header_profile %}
  <div class="flex justify-between items-center gap-2.5">
    <div class="bg-black rounded-full w-10 h-10 text-selected flex items-center justify-center cursor-pointer">PN</div>
    <div class="flex flex-col items-left justify-between">
      <div class="cursor-pointer text-sm text-black translate-x-0 hover:translate-x-1 transition-custom">ProfileName</div>
      <div class="flex w-120px gap-2.5">
        <a class="cursor-pointer text-sm text-secondary transition-colors duration-500 ease-in-out hover:text-black" href="/settings/">Settings</a>
        <a class="cursor-pointer text-sm text-secondary transition-colors duration-500 ease-in-out hover:text-black" href="/">Log Out</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
 <form
    class="flex flex-1 flex-col h-full w-full max-w-[800px] justify-center items-center gap-3.5 md:w-[80%]">
    <h1
        class="flex w-full md:w-[80%] justify-center text-5xl transition-custom translate-x-0 hover:translate-x-1 cursor-pointer translate-y-[-20px]">
        Settings</h1>
    <input
        class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
        type="text" placeholder="Login" value="my_login">
    <input
        class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
        type="text" placeholder="Email" value="myemail@gmail.com">
    <input
        class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
        type="text" placeholder="NickName" value="MyNickName17913">

    <div class="mt-5 w-full flex justify-start gap-2.5">
        <div
            class="w-10 h-10 flex items-center justify-center text-selected rounded-full bg-primary p-2 transition-custom cursor-pointer">
            AV
        </div>
        <button
            class="rounded-md py-2 px-4 transition-custom bg-selected border border-primary hover:bg-primary hover:text-selected"
            type="button">Upload Avatar</button>
    </div>

    <!-- error text -->
    <div class="w-full flex justify-start">
        <!-- <p class="text-error text-sm"> </p> -->
        <p class="text-error text-sm">Ошибка при обновлении настроек!!</p>
    </div>
    <div class="w-full md:w-[80%] flex items-center justify-center">
        <button
            class="rounded-md py-2 px-4 transition-custom bg-selected border border-primary hover:bg-primary hover:text-selected"
            type="submit" onclick="location.href='/'">Save</button>
    </div>
</form>
{% endblock %}