{% extends 'base_form.html' %}
{% load static %}
{% block title %}
    Settings
{% endblock %}

{% block header_profile %}
  {% include "include/header_profile.html" %}
{% endblock %}

{% block content %}
 <form action="{% url 'settings' %}" method="POST" enctype="multipart/form-data"
    class="flex flex-1 flex-col h-full w-full max-w-[800px] justify-center items-center gap-3.5 md:w-[80%]">
    {% csrf_token %}
    <h1
        class="flex w-full md:w-[80%] justify-center text-5xl transition-custom translate-x-0 hover:translate-x-1 cursor-pointer translate-y-[-20px]">
        Settings</h1>
    <input
        class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
        type="text" name="login" placeholder="Login" value="{{ form.login.value|default_if_none:'' }}">
    <input
        class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
        type="text" name="email" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}">
    <input
        class="w-full text-md outline-none focus:outline-none border focus:border-secondary p-3 rounded-lg transition-custom hover:outline hover:border-secondary"
        type="text" name="nickname" placeholder="NickName" value="{{ form.nickname.value|default_if_none:'' }}">

    <div class="mt-5 w-full flex justify-start gap-2.5">
        <div
            class="w-10 h-10 flex items-center justify-center text-selected rounded-full bg-primary p-2 transition-custom cursor-pointer">
            AV
        </div>
        <button
            class="rounded-md py-2 px-4 transition-custom bg-selected border border-primary hover:bg-primary hover:text-selected"
            type="button">Upload Avatar</button>
    </div>

    <!-- error text -->
    {% if messages %}
        {% for message in messages %}    
            <div class="w-full flex justify-start">
              <p class="text-error text-sm">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="w-full md:w-[80%] flex items-center justify-center">
        <button
            class="rounded-md py-2 px-4 transition-custom bg-selected border border-primary hover:bg-primary hover:text-selected"
            type="submit">Save</button>
    </div>
</form>
{% endblock %}