{% extends 'base.html' %}
{% load static %}
{% block title %}
  Тэг - {{tag}}
{% endblock %}

{% block header_profile %}
  <div class="flex w-[120px] justify-center gap-2.5">
    <a class="cursor-pointer text-sm text-secondary transition-custom hover:text-text" href="/login">Log In</a>
    <a class="cursor-pointer text-sm text-secondary transition-custom hover:text-text" href="/signup">Register</a>
  </div>
{% endblock %}

{% block header_profile_logged_in %}
  <div class="flex justify-between items-center gap-2.5">
    <div class="bg-black rounded-full w-10 h-10 text-selected flex items-center justify-center cursor-pointer">PN</div>
    <div class="flex flex-col items-left justify-between">
      <div class="cursor-pointer text-sm text-black translate-x-0 hover:translate-x-1 transition-custom">ProfileName</div>
      <div class="flex w-120px gap-2.5">
        <a class="cursor-pointer text-sm text-secondary transition-colors duration-500 ease-in-out hover:text-black" href="/settings/">Settings</a>
        <a class="cursor-pointer text-sm text-secondary transition-colors duration-500 ease-in-out hover:text-black" href="/">Log Out</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block questions_title %}
  <div class="flex items-center justify-start gap-5 max-sm:px-1.5">
    <h1 class="text-3xl transition-custom translate-x-0 hover:translate-x-1 cursor-pointer">Tag: {{tag}}</h1>
  </div>
{% endblock %}

{% block content %}
  {% for question in questions %}
    <!-- card -->
    <div class="rounded-xl w-full py-2 px-3 flex gap-3 shadow-custom">
      <div class="flex flex-col justify-start items-start gap-3">
        <div class="w-40 h-40 rounded-full bg-primary text-selected flex items-center justify-center">AV</div>
        <form>
          <div class="w-40 flex justify-start items-center gap-2.5">
            <input class="text-sm w-10 outline-none border hover:outline hover:border-secondary focus:outline-none focus:border-secondary p-2 rounded-lg transition-custom text-center cursor-pointer" type="text" value="{{ question.likes }}" disabled />

            <div class="flex gap-2.5 justify-end">
              <!-- Like Button -->
              <button class="flex items-center space-x-2 text-secondary hover:text-primary transition-custom"><i class="fas fa-thumbs-up"></i></button>

              <!-- Dislike Button -->
              <button class="flex items-center space-x-2 text-secondary hover:text-primary transition-custom"><i class="fas fa-thumbs-down"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="w-full flex flex-col justify-between items-start gap-2.5">
        <div class="flex flex-col gap-2.5">
          <h1 class="text-xl cursor-pointer transition-custom translate-x-0 hover:translate-x-1" onclick="location.href='/question/{{ question.id }}/'">{{ question.title }}</h1>
          <p class="text-xs">{{ question.text }}</p>
        </div>
        <div class="w-full flex flex-col sm:flex-row justify-between items-left">
          <a href="/question/{{ question.id }}" class="font-medium text-sm cursor-pointer transition-custom translate-y-0 hover:-translate-y-1 text-tag hover:text-primary">answer ({{ question.answers_cnt }})</a>
          <div class="flex gap-[7px]">
            <p class="font-medium text-sm">Tags:</p>

            <!-- tags list -->
            <div class="flex gap-[3px] overflow-ellipsis">
              {% for tag in question.tags %}
                <a href="/tag/{{ tag }}/" class="text-sm cursor-pointer transition-custom translate-y-0 hover:-translate-y-1 text-tag hover:text-primary">Tag 1,</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block paging %}
  <!-- selected page -->
  <div class="w-full h-20 flex items-center justify-start gap-3 max-sm:px-1.5">
    {% for num in questions.paginator.page_range %}
      {% if questions.number == num %}
        <div onclick="location.href='?page={{ num }}'" class="rounded-xl px-3 py-2 flex items-center justify-center cursor-pointer shadow-custom border border-primary bg-primary hover:bg-selected hover:text-primary text-selected transition-custom">{{ num }}</div>
      {% else %}
        <div onclick="location.href='?page={{ num }}'" class="rounded-xl px-3 py-2 flex items-center justify-center cursor-pointer shadow-custom border border-primary bg-selected hover:bg-primary hover:text-selected text-primary transition-custom">{{ num }}</div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}